<div>
  <p>GIORNATA {{matchDay}} - ELENCO PARTITE</p>

  <ul class="list-inline">
        <li class="list-group-item" *ngFor="let match of matchesSelected" (click)="matchSelected(match)">
        <img id="crestUrl" *ngIf="match.homeTeam.crestUrl" [src]="match.homeTeam.crestUrl"/>
          {{ match.homeTeam.name}} VS {{ match.awayTeam.name}}
        <img id="crestUrl" *ngIf="match.awayTeam.crestUrl" [src]="match.awayTeam.crestUrl" />
    </li>
  </ul>
</div>
<app-match-detail *ngIf="matchSSelected" [matchSelected]="matchSSelected" [teams]="teams"></app-match-detail>
