<h1>Giornate:</h1>

<ul class="list-inline">
  <div class="d-inline text-center pagination-centered">Girone<br>Andata</div>
    <li class="list-group-item text-center"
    *ngFor="let matchday of getMatchDaysAndata()"
    (click)="matchdayOutput.emit(matchday)"
    routerLink="/matchday/matchday-detail/{{matchday}}"
    >
    {{ matchday }}
  </li>
</ul>

<ul class="list-inline">
  <div class="d-inline text-center pagination-centered">Girone<br>Ritorno</div>
   <li class="list-group-item text-center"
    *ngFor="let matchday of getMatchDaysRitorno()"
    (click)="matchdayOutput.emit(matchday)"
    routerLink="/matchday/matchday-detail/{{matchday}}"
    >
    {{ matchday }}
  </li>
</ul>
<app-matchday-detail
    *ngIf="matchDay"
    [matchDay]="matchDay"
    [matches]="matches"
    [teams]="teams"
    >
  </app-matchday-detail>
