.FINISHED:after {
    color: green;
    content: "Partita Terminata";
}

.SCHEDULED:after {
    color: red;
    content: "Partita Programmata";
}

.POSTPONED:after {
    color: yellow;
    content: "Partita Rinviata";
}
