<div>
  <p>Giornata {{matchSelected?.matchday}} - DETTAGLI PARTITA</p>
  <p><label>Stato:</label><label class='{{matchSelected?.status}}'> </label></p>
  {{toDate(this.matchSelected.utcDate)}}
  <p><label>Giorno:</label> {{date}}</p>
  <p><label>Ora inizio:</label> {{time}}</p>
  <ul>
    <li>
      <label (click)="teamSelected(matchSelected.homeTeam.id)">
        <img
          id="crestUrl"
          *ngIf="matchSelected.homeTeam.crestUrl"
          [src]="matchSelected.homeTeam.crestUrl"
        />
        {{ matchSelected.homeTeam.name }}
      </label>
      {{ checkResult(matchSelected.score.fullTime.homeTeam) }} -
      {{ checkResult(matchSelected.score.fullTime.homeTeam) }}
      <label (click)="teamSelected(matchSelected.awayTeam.id)"
        >{{ matchSelected.awayTeam.name }}
        <img
          id="crestUrl"
          *ngIf="matchSelected.awayTeam.crestUrl"
          [src]="matchSelected.awayTeam.crestUrl"
      /></label>
    </li>
  </ul>
</div>

<app-team
  *ngIf="idTeamSelected"
  [teamSelected]="idTeamSelected"
  [squadre]="teams"
></app-team>
